.chat-message
	.chat-message__avatar
		+user-photo("")
	.chat-message__body
		p Sergio
		p Данные макеты должны быть сверстаны таким образом, чтобы отображаться на любых экранах в любом размере (ширина задается в родительском элементе)
.chat-message.chat-message--stuck
	.chat-message__avatar
		+user-photo("")
	.chat-message__body
		p Как вы уже поняли, на втором экране уже появляются сообщения и их может быть довольно много
.chat-message.chat-message--stuck
	.chat-message__avatar
		+user-photo("")
	.chat-message__body
		p Сообщения от одного и того же пользователя «слипаются» (чтобы занимать меньше места)

.chat-message
	.chat-message__avatar
		+user-photo("")(src=avatarMargoBg, alt="Margo")
	.chat-message__body
		p Margo
		p Сам чат состоит из трех частей:
			br
			| - заголовка (его высота фиксирована), в котором указано название чата, количество участников и кнопка открытия списка настроек чата;
			br
			| - зоны сообщений пользователей (зона сообщений занимает все свободное от заголовка и блока ввода сообщения место, здесь же и присутствует вертикальный скролл), в которой отображаются сообщения пользователей с указанием автора сообщения (аватарка и имя);
			br
			| - блока ввода сообщений (который растет по мере количества строк в сообщении пользователя, но ограничен максимальной  высотой)