//- Вызов:
//-   +switch-btn("", true)
mixin switch-btn(mods, bChekced)
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' switch-btn--' + modsList[i].trim();
      }
    }
    
    var isInputChecked = typeof(bChekced) !== 'undefined' && bChekced ? true : false;
 
  label.switch-btn(class=allMods)
    input(type="checkbox", checked=isInputChecked)
    span.switch-btn__layer
      span.switch-btn__switcher

