.message-box-header
	.message-box-header__title
		.chat-title Чат: Тестовый Чат
		.chat-subtitle Количество участников безгранично
	.message-box-header__settings
		include ../chat-settings/chat-settings.pug
