.chat-placeholder
	.chat-placeholder__img
	p.chat-placeholder__text Это пустое состояние чата
		br
		| (данная заглушка из картинки и этого текста должна отображаться по центру зоны сообщений пользователей)